@import "tailwindcss";

@theme {
  --color-brand: #FABC48;
  --color-accent: #DE1000;
  --color-background: #000000;
  --color-foreground: #EFEFEF;
  --font-sans: var(--font-montserrat), sans-serif;
}

/* 
  Next.js + Tailwind v4 often works best when clean. 
  We set base styles here.
*/
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-montserrat), sans-serif;
  overflow-x: hidden;
}